body {
  padding: 30px;
}

.List {
  height: 300px;
  min-height: 300px;
  /* overflow: auto; */
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0px;
  /* -ms-overflow-style: none; */
  overflow-y: scroll;
}

/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

.box {
  color: #5d627b;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}